#sp-main-body {
    padding: 0px 0 !important;
}
.sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg {
    height: 431px !important;
    background-size: cover;
    background-position: 50% 50%;
}
.sppb-slideshow-fullwidth-read-more{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000;
    padding: 10px 30px 10px 30px !important;
}
.sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text h1 {
    margin-bottom: 40px;
    font-size: 3.25em !important;
    font-weight: bold !important;
    margin-top: -.25em;
}
.sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .owl-stage .owl-item.active .sppb-slideshow-fullwidth-item-text {
    z-index: 999;
    opacity: 1;
    text-align: center !important;
  margin: auto;
}

.sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text a, .sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text h1, .sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text h1 small {
    color: #000 !important;
}

.sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text a.sppb-slideshow-fullwidth-read-more {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff !important;
}
.sppb-slider-wrapper.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text {
    color: #000 !important;
}

#sp-header {
    background: #ffffff;
    height: 80px !important;
    border-bottom: 0px solid #e2e4e8 !important;
    /*padding: 10px !important;*/
}
.logo-margin{
  margin-top:-5px;
}
.button-home{
  margin: auto;
    background-color: #fff !important;
    color: #000;
    border-width: 2px;
    width: 60%;
    font-size: .938em;
    letter-spacing: .1em;
    padding: 12px 33px 9px;
    transition: all .2s linear;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.button-home:hover{
    border-color: #000;
    background-color: #000 !important;
    color: #fff !important;
}
a.getting-started{
  border: solid 2px #000;
  padding: 11px 33px 9px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1;
  font-family: 'proxima-nova';
}
a.what-will-title{
    min-height: 130px;
    padding: 30px;
    background: #fff;
    vertical-align: bottom;
    display: block;
    font-size: 32px;
    color: #000;
    font-weight: 400;
    line-height: 35.2px;
}
div.what-will-title{
    min-height: 130px;
    padding: 30px;
    background: #fff;
    vertical-align: bottom;
    display: block;
    font-size: 24px;
    color: #000;
}
.icon.dream-team {
    height: 40px;
    width: 41px;
    background: url(../images/sprites-icons-s2be8ca8df5.png) -767px -80px no-repeat;
}
li.sp-menu-item:first-child { /*visibility: hidden;*/  }

.grid-construct {
    max-width: 61.25em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
footer#sp-footer a{
  color: #fff;
}
.footer__legal__list {
    float: left;
    color: #fff;
}
.footer__legal__list {
    text-align: left;
}
.footer__legal__list-item:first-child {
    padding-left: 0;
}
.footer__legal__list-item--copyright {
    margin-bottom: 0;
}
.footer__legal__list-item {
    display: block;
    border-bottom: none !important;
    float: left;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
h5.sppb-feature-box-title{
  font-family: 'Conv_FuturaPTMedium',sans-serif;
  text-transform: uppercase;
  color: #000;
  margin-top: 28px;
  letter-spacing: 0.9px;
  line-height: 19.8px;

}
h5.sppb-title-heading{
  font-family: 'Conv_FuturaPTMedium',sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
}
div.sppb-addon.sppb-addon-feature.sppb-text-left.getting-started .sppb-addon-text{
  font-size: 16px;
  line-height: 22.4px;
  list-style-image: none;
  margin-right: 10%;f
  ont-family: 'proxima-nova';
  color: rgb(155, 159, 161);

}

#sp-footer {
    padding: 0px !important;
    margin-top: 40px;
    background: #333 !important;
}
.footer__mega-nav {
    clear: both;
    display: block;
    padding: 40px 0;
}
.footer__mega-nav__list-item {
    width: 18.38791%;
    float: left;
    display: inline;
    /*margin-right: -100%;*/
}
ul.footer__mega-nav__list{
  padding-left: 20px;
}
.footer__mega-nav__list-item:nth-child(5n+1) {
    margin-left: 0;
    clear: left;
}
.footer__mega-nav__sub-list-item {
    font-size: 14px;
    margin-bottom: 0;
    border-bottom: none !important;
    line-height: 1.4 !important;
}
.footer__mega-nav__sub-list li, .product-visualizer__sub-nav__list li {
    list-style: none !important;
}
.footer__mega-nav__sub-list-item a {
    color: #333 !important;
    line-height: 19.6px !important;
    font-family: 'proxima-nova';
}
a#formats{
  color: #f37737
}
/*products page*/
section#banner.sppb-section {
  height: 340px;
}
.hero-banner__inner {
    /*display: table-cell;*/
    vertical-align: middle;
    /*margin-top: 95px;*/
}
@media (min-width: 46.875em){
.hero-banner__content {
    max-width: 960px;
}
}
div.hero-banner__content {
    margin: 0 auto;
    width: 90%;
}
.hero-banner__heading {
    font-size: 3.25em;
    margin-bottom: .25em;
    font-weight: 700;
    letter-spacing: .1em;
}
.hero-banner__heading, .hero-banner__subheading {
    line-height: 1;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
}
.hero-banner__subheading {
    font-size: 1.9375em;
    letter-spacing: .2em;
    margin-bottom: .5556em;
}
.hero-banner__hr {
    background: #fff;
    border-top: 1px solid #000;
    margin: .625em auto;
    width: 55px;
    box-sizing: content-box;
    height: 1px;
}
.hero-banner__text {
    font-size: 1.0625em;
}
.hero-banner__text {
    letter-spacing: .075em;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 46.875em){
.drawer .drawer__header__bar, .drawer .drawer__options {
    display: -webkit-flex;
    display: flex;
}
}
.drawer .drawer__header__bar, .drawer .drawer__options {
    padding-bottom: 15px;
    padding-left: 1.25em;
    padding-right: 1.25em;
}
@media (min-width: 60em){
.grid-construct {
    max-width: 61.25em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
}
@media (min-width: 46.875em){
.drawer__header__bar {
    border-color: #9b9fa1;
}
}
@media (min-width: 46.875em){
.grid-construct {
    max-width: 61.25em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
}
.drawer__header__bar {
    border-bottom: 2px solid transparent;
}
@media (min-width: 46.875em){
.drawer-slider {
    display: inline-block;
}
}
.drawer-slider {
    border-top: 4px solid #00c0be;
    display: none;
    position: relative;
    top: -15px;
    transition: .5s all ease;
}
.drawer__header__col {
    margin-bottom: 0;
    margin-right: 1.25%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    list-style: none;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.drawer__content {
    cursor: pointer;
    -webkit-flex: 1;
    flex: 1;
}
.promo-banner__container {
    height: 169px;
}
.promo-banner__content {
    padding: 0 5% 0 6%;
    text-align: left;
    margin: auto 0;
    font-size: 1.25em;
}
.center-col__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
}
.grid .grid-construct, .grid .grid-construct-x {
    -webkit-flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1280px;
    padding-left: 0;
    padding-right: 0;
}
.grid--three .grid__column {
    width: 33.16708%;
    float: left;
    margin-right: .24938%;
    display: inline;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
h3.sppb-addon-title{
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 18px;
  font-size: 1.125rem;
}
section#banner_tradebooks.sppb-section {
  margin-bottom: 73px;;
  height: 300px;
}
ul.download{
  text-align: left;
}
h1.pricing-heading {
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
ul.utility__list.js-utility-list{
    bottom: 9px;
    float: right;
    height: 38px;
    padding-right: 10px;
    vertical-align: middle;
}
div.footer__mega-nav h6{
  color: black;
  font-size: 30px;
}
img.polaroid__img-box:hover {
    background-color: #fff;
    content: '';
    bottom: -100px;
    height: 100px;
    left: -10px;
    position: absolute;
    right: -15px;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    transition: transform .1s;
}


h4.sppb-title-heading{
color:rgb(0, 0, 0);
display:block;
font-size:24px;
font-weight:bold;
height:26px;
letter-spacing:1.2px;
line-height:26.4px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-align:center;
text-size-adjust:100%;
text-transform:uppercase;
-webkit-margin-after:0px;
-webkit-margin-before:0px;
-webkit-margin-end:0px;
-webkit-margin-start:0px;

}
/*body.site.com-perfectpics-formats.view-perfectpics_formatss.no-layout.no-task.itemid-584.en-gb.ltr.layout-fluid.page-suffix-row .container{
  width: 100% !important;
  padding: 0 !important;
}*/

.colored-header-columns .grid-construct{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
.colored-header-columns .two-half-columns__col{
  flex-direction: column;
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
}
.two-half-columns__col--left {
    float: left;
    margin-right: 3.84615%;
    display: inline;
    padding: 0 0 0 20px;
}

div.two-half-columns__col.two-half-columns__col--left .module{
  margin: ;
}
.colored-header-column__bg {
    width: 100%;
    background-color: #f5f5f5;
    min-height: 452px;
}
.colored-header-column__bg {
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
}
.colored-header-column__header {
    position: relative;
    color: #fff;
    height: 180px;
    text-align: center;
    display: table;
    width: 100%;
    padding: 0 34px;
}
.v-bg-gray-light-charcoal {
    background-color: #555;
}
.colored-header-column__header-text {
    font-size: 18px;
    letter-spacing: 0.9px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 25.2px;
    font-family: 'proxima-nova';
}

.colored-header-column__vendor-logo {
    max-height: 85px;
}
.colored-header-column__vendor-logo {
    display: inline;
    max-width: 164px;
    margin-left: 15px;
}
.colored-header-column__row{
  padding: 25px;
}
.colored-header-column__row p{
  font-family: 'proxima-nova';
  font-size: 16px;
  line-height: 22.4px;
  text-size-adjust: 100%;
  color: #9b9fa1;
}
.colored-header-column__cta {
    text-align: center;
}
.sp-dropdown.sp-dropdown-main.sp-menu-center{
    width: 1584px !important;
    left: -601px !important;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
    background: #fff;
    box-shadow: inset 0 15px 30px -14px rgba(0,0,0,.1),0 19px 30px -14px rgba(0,0,0,.1) !important;
    padding: 20px;
    height: 80px;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item {
    display: block;
    padding: 0;
    position: relative;
    float: left;
}
.sp-megamenu-parent >li {
    display: inline-block;
    position: relative;
    padding: 0;
    float: left;
}
.icon--search--sm:before {
    border: .25em solid currentColor;
    border-radius: 50%;
    top: 0;
    right: 0;
    height: .5625em;
    width: .5625em;
}
.icon--search--sm:after, .icon--search--sm:before {
    content: "";
    position: absolute;
}
#sp-bottom {
    background-color: #ffffff;
    padding: 0 !important;
}
.footer__mega-nav__list-item a {
    color: #000;
}
.btn--border-black:hover, .btn--white-on-black:hover, .form--button:hover, a:hover .btn--border-black, a:hover .btn--white-on-black, a:hover .form--button, a.getting-started:hover {
    background-color: #000 !important;
    border: 2px solid #000 !important;
    color: #fff !important;
}
a[class*=btn-] {
    text-align: center;
}
.btn:focus, .promo-banner__btn:focus, .select-box .select-box__select:focus, a:active, a:focus, a:hover {
    outline: 0;
}
.btn--black-on-white, .btn--border-black, .btn--border-white, .btn--gray-on-white, .btn--graycharcoal-to-white, .btn--mint-on-black, .btn--mint-on-white, .btn--white-on-black, .form--button, button {
    font-size: .938em;
    letter-spacing: .1em;
    padding: 11px 33px 9px;
}
@media (min-width: 1200px){
.container {
    width: 100%;
    padding: 0;
}
}
@media (min-width: 80em){
.grid-construct-x {
    max-width: 80em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
}
section.module.hero-banner.hero-banner--cinema{
  background: url("http://localhost/perfectpics_2/images/photo-books-desktop.jpg");
  margin: 0;
}
section.module.hero-banner.hero-banner--cinema .hero-banner__content{
  color: #fff;
}
@media (min-width: 80em){
.tab-combo--three .tab-combo__col {
    width: 32.5%;
    padding-left: 0px;
    padding-right: 0px;
}
}
@media (min-width: 80em){
.grid--four.grid__icons .grid__column, .grid--one.grid__icons .grid__column, .grid--three.grid__icons .grid__column, .grid--two.grid__icons .grid__column, .tab-combo--five .tab-combo__col, .tab-combo--four .tab-combo__col, .tab-combo--one .tab-combo__col, .tab-combo--three .tab-combo__col, .tab-combo--two .tab-combo__col {
    display: inline;
    float: left;
    margin-left: 0.6%;
}
}
.book-list__option, .tab-combo__col, .tab-slider__tab {
    margin-bottom: 0px;
    list-style: none;
}
li.nav-item.tab-combo__col.js-drawer__header__col.active {
    color: #555;
    background-color: #fff;
    border-bottom: 5px solid #ddd;
    /* border-bottom-color: transparent; */
    cursor: default;
}
@media (min-width: 46.875em){
.tab-combo__hr {
    position: absolute;
    left: 0px;
    right: 0px;
    display: block;
    height: 34px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 14px -14px inset;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;

}
}
div.tab-content.grid-construct-x.js-drawer-container{
  left: 0px;
    position: absolute;
    right: 0px;
    margin-top: 40px;
    display: block;
    animation: fadeIn 1.3s forwards;
    transition: margin 0.5s;
}
/*photobooks*/
@media (min-width: 68.75em){
.tab-combo .accordion {
    width: 24%;
}
}
.module .module {
    margin: 0px;
}
.accordion__box {
    padding-left: 0px;
    list-style: none;
}

.tab-combo .accordion .accordion__tab:first-child {
    border-top: 0px;
}
.accordion__tab {
    border-bottom: 1px solid rgb(0, 0, 0);
    list-style: none;
}
.accordion__tab__title {
    font-weight: 700;
    color: rgb(0, 0, 0);
    display: block;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.accordion__tab__panel {
    margin-bottom: 20px;
    clear: both;
}
.accordion__tab__panel::after, .accordion__tab__panel::before {
    content: " ";
    display: table;
}
.tab-slider {
    padding-left: 37px;
}
@media (min-width: 60em){
.tab-combo .tab-slider__panel, .tab-combo--horizontal .tab-slider__panel {
    right: 0px;
    width: 76%;
    position: absolute;
        top: 0px;
}
}
.tab-slider__panel[aria-hidden="false"] {
    display: block;
    animation: fadeIn 1.3s forwards;
}
@media (min-width: 46.875em){
.tab-slider__panel {
    margin-bottom: 0px;
}
}
@media (min-width: 46.875em){
.tab-combo .product-highlight {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}
@media (min-width: 46.875em){
.tab-combo__content {
    padding-top: 0px;
    border-bottom: 0px;
}
}
.tab-combo__content {
    cursor: pointer;
    text-align: center;
    padding-bottom: 30px;
}
.tab-combo__content {
    position: relative;
}
/*@media (min-width: 60em){
.tab-combo__option__img {
    max-width: 10em;
}
}*/
.tab-combo__option__head {
    margin-top: 20px;
}
.tab-combo__option__subhead {
    color: rgb(155, 159, 161);
    font-size: 20px;
    margin-top: 5px;
    font-family: 'proxima-nova', sans-serif;
    line-height: 22px;
}
.tab-combo__option__text {
    color: rgb(155, 159, 161);
    font-size: 14px;
    margin-top: 10px;
    line-height: 19.6px;
    font-family: 'proxima-nova', sans-serif;
}
.grid__content .grid__icon, .grid__icon img {
    display: inline-block;
    max-width: none;
    margin: 0px 10% 5%;
}
.icon--paper-types {
    font-size: 16px;
    height: 2.1875em;
    margin-left: 0.5em;
    position: relative;
    width: 1.75em;
    border-radius: 5%;
    background: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(155, 159, 161);
    border-image: initial;
}
.icon--paper-types::before {
    transform: rotate(-13deg) translateX(-2px);
    z-index: -1;
}
.icon--paper-types::after {
    transform: rotate(-23deg) translateX(-2px);
    z-index: -2;
}
.icon--paper-types::after, .icon--paper-types::before {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transform-origin: 0px 100% 0px;
    width: 100%;
    background: inherit;
    border: inherit;
    border-radius: 5%;
}
